@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    word-break: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-bold;
  }

  .light {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

  .dark {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  }

  .slate-800 {
    --slate-800: #252e3e;
  }

  .slate-500 {
    --slate-500: #718096;
  }

  .light-grey {
    --light-grey: #f7fafc;
  }

  .border-light-grey {
    --border-light-grey: #edf2f7;
  }

  .text-pink {
    --text-pink: #ff6b81;
  }

  .bg-slate-800 {
    --bg-slate-800: var(--slate-800);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--bg-slate-800), var(--tw-bg-opacity));
  }

  .bg-slate-500 {
    --bg-slate-500: var(--slate-500);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--bg-slate-500), var(--tw-bg-opacity));
  }

  .hover\:bg-slate-500:hover {
    --hover-bg-slate-500: var(--slate-500);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--hover-bg-slate-500), var(--tw-bg-opacity));
  }
}

@layer components {
  .category .active {
    @apply bg-ax-violet font-bold text-white;
  }

  .markdown-data h1,
  .markdown-data h2,
  .markdown-data h3,
  .markdown-data h4,
  .markdown-data h5,
  .markdown-data h6 {
    @apply mt-0 mb-5;
  }

  .markdown-data code {
    @apply py-[1.5px] px-2 rounded-lg bg-light-grey-2 text-sm border-white;
  }

  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}