---
import Wrapper from "./UI/Wrapper.astro";
---
<header class="py-5 bg-ax-violet text-white">
  <Wrapper class="flex justify-between">
    <h1>
      <a href="/" title="axioned codex">
        {'<axioned.codex />'}
      </a>
    </h1>
  </Wrapper>
</header>