---
import Content from "../content/html-review-checklist.md";
import { Hamburger } from './Hamburger';
---

<div class='md:basis-3/5 basis-full flex-1 p-4 h-screen overflow-y-auto markdown-data bg-dark-grey'>
  <Hamburger client:load />
  <Content />
</div>
