---
import Content from "../content/subCatContent/html-review-checklist.md";
import { Hamburger } from './Hamburger';
---

<div class='scrollbar md:basis-3/5 xl:basis-1/2 basis-full flex-1 p-4 h-screen overflow-y-auto markdown-data bg-dark-grey prose prose-stone dark:prose-invert prose-lg max-w-none prose-th:px-2 prose-td:px-2'>
  <Hamburger client:load />
  <Content />
</div>
