---
import { Hamburger } from "../../components/UI/Hamburger";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
// 1. Generate a new path for every collection post
export async function getStaticPaths() {
  const blogEntries = await getCollection("snippets");
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
// 2. When it's time to render, you can get the post directly from the prop
interface Props {
  post: CollectionEntry<"snippets">;
}
const { post } = Astro.props;
const { Content } = await post.render();
console.log(Content);
---

<Layout title="Codex Snippets">
  <div class='scrollbar relative md:basis-3/5 xl:basis-1/2 basis-full flex-1 p-4 h-screen overflow-y-auto markdown-data prose prose-stone dark:prose-invert prose-lg max-w-none prose-th:px-2 prose-td:px-2'>
    <Hamburger client:load />
    <h2>{post.data.title}</h2>
    <p>{post.data.description}</p>
    <Content />
  </div>
</Layout>
